<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.matthieuoger.template</string>
	<key>CFBundleName</key>
	<string>MatthieuOger</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateDescription</key>
	<string>iA Writer Template for matthieuoger.com.</string>
	<key>IATemplateAuthor</key>
	<string>Matthieu Oger</string>
	<key>IATemplateAuthorURL</key>
	<string>https://matthieuoger.com/</string>
  <key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Matthieu Oger. All rights reserved.</string>
</dict>
</plist>
