.markdown > :first-child {
  margin-top: 0;
}

.markdown > :last-child {
  margin-bottom: 0;
}

/* Titles. */

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: normal;
  line-height: normal;
}

.markdown h1::before,
.markdown h2::before,
.markdown h3::before,
.markdown h4::before,
.markdown h5::before,
.markdown h6::before {
  opacity: 0.25;
  font-size: 0.75em;
  font-weight: 300;
  font-style: normal;
}

.markdown h1 .more,
.markdown h2 .more,
.markdown h3 .more,
.markdown h4 .more,
.markdown h5 .more,
.markdown h6 .more {
  color: #888;
  margin-left: 0.5rem;
  font-size: 0.7em;
  font-weight: normal;
  text-transform: none;
}

.markdown h1 {
  margin-top: 6rem;
  margin-bottom: 4rem;

  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.markdown h1::before {
  content: '# ';
}

.markdown h2 {
  margin-top: 5rem;
  margin-bottom: 3rem;

  padding-bottom: 0.5rem;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.1);

  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
}

.markdown h2::before {
  content: '## ';
}

.markdown h3 {
  display: table;

  margin-top: 4rem;
  margin-bottom: 2rem;

  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);

  font-size: 1.2em;
  font-weight: normal;
  text-transform: none;
}

.markdown h3::before {
  content: '### ';
}

.markdown h4 {
  margin-top: 4rem;
  margin-bottom: 2rem;

  color: hsl(0, 0%, 20%);

  font-size: 1.1em;
  font-weight: 500;
  text-transform: none;
}

.markdown h4::before {
  content: '#### ';
}

.markdown h5 {
  margin-top: 3rem;
  margin-bottom: 2rem;

  color: hsl(0, 0%, 39%);

  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}

.markdown h5::before {
  content: '##### ';
}

.markdown h6 {
  margin-top: 3rem;
  margin-bottom: 2rem;

  color: hsl(0, 0%, 59%);

  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
}

.markdown h6::before {
  content: '###### ';
}

/* Images & videos. */

img,
video {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

/* Links. */

.markdown a {
  color: hsl(11, 70%, 10%);
  padding-top: 1px;
  border-bottom: 2px solid hsl(11, 78%, 53%);
  transition: all 0.175s;
  text-decoration: none;
}

.markdown a:visited {
  color: hsl(11, 70%, 10%);
}

.markdown a:hover {
  color: hsl(11, 78%, 53%);
  background: hsl(11, 76%, 95%);
  border-color: hsl(11, 77%, 72%);
}

.markdown a:active,
.markdown a:focus {
  color: hsl(11, 69%, 47%);
  background: hsl(11, 76%, 90%);
  border-color: hsl(11, 69%, 47%);
}

/* Special links. */

.markdown a[href*='pixelnest.io'],
.markdown a[href*='twitter.com'],
.markdown a[href*='github.com'],
.markdown a[href*='dribbble.com'],
.markdown a[href*='unsplash.com'],
.markdown a[href*='instagram.com'],
.markdown a[href*='speakerdeck.com'],
.markdown a[href*='linkedin.com'] {
  position: relative;
  margin-left: 1.5em;
}

.markdown a[href*='pixelnest.io']::before,
.markdown a[href*='twitter.com']::before,
.markdown a[href*='github.com']::before,
.markdown a[href*='dribbble.com']::before,
.markdown a[href*='unsplash.com']::before,
.markdown a[href*='instagram.com']::before,
.markdown a[href*='speakerdeck.com']::before,
.markdown a[href*='linkedin.com']::before {
  content: '';

  display: inline-block;
  position: absolute;
  top: 0.2em;
  left: -1.4em;

  width: 1.15em;
  height: 1.15em;

  margin-right: 0.25em;

  background-repeat: no-repeat;
  background-size: 1.15em;

  opacity: 0.5;

  transition: opacity 0.175s;
}

.markdown a[href*='pixelnest.io']:hover::before,
.markdown a[href*='twitter.com']:hover::before,
.markdown a[href*='github.com']:hover::before,
.markdown a[href*='dribbble.com']:hover::before,
.markdown a[href*='unsplash.com']:hover::before,
.markdown a[href*='instagram.com']:hover::before,
.markdown a[href*='speakerdeck.com']:hover::before,
.markdown a[href*='linkedin.com']:hover::before {
  opacity: 1;
}

.markdown a[href*='pixelnest.io']::before {
  top: 0.1em;
  background-image: url('/images/site/logo-pixelnest-link.png');
}

.markdown a[href*='twitter.com']::before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.585 3.24c.005.106.006.213.006.317 0 3.256-2.475 7.007-7.004 7.007A6.947 6.947 0 0 1 .814 9.457c.191.023.388.033.587.033a4.93 4.93 0 0 0 3.057-1.054 2.467 2.467 0 0 1-2.3-1.708 2.474 2.474 0 0 0 1.11-.043A2.464 2.464 0 0 1 1.296 4.27v-.03c.332.183.713.295 1.116.308A2.461 2.461 0 0 1 1.315 2.5c0-.45.121-.875.333-1.239a7 7 0 0 0 5.075 2.575 2.463 2.463 0 0 1 4.195-2.246A4.945 4.945 0 0 0 12.48.99a2.473 2.473 0 0 1-1.082 1.363 4.946 4.946 0 0 0 1.415-.39c-.33.494-.748.93-1.228 1.276z' fill='%234DA4FA' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.markdown a[href*='github.com']::before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.52 5.434h-.04c-1.55 0-2.916-.395-3.725.349A2.043 2.043 0 0 0 2.07 7.34c0 2.412 1.931 2.708 4.413 2.708h.038c2.48 0 4.412-.298 4.412-2.708 0-.577-.203-1.114-.686-1.558-.81-.744-2.176-.35-3.726-.35zM4.408 8.729c-.473 0-.855-.531-.855-1.185 0-.653.382-1.182.855-1.182.472 0 .855.529.855 1.182.001.654-.381 1.185-.855 1.185zm4.183 0c-.473 0-.855-.531-.855-1.185 0-.653.382-1.182.855-1.182.472 0 .854.529.854 1.182.002.654-.381 1.185-.854 1.185zm-.95 1.9c-.224 0-.67 0-1.141.003-.471-.003-.917-.003-1.14-.003-.99 0-4.912-.077-4.912-4.803 0-1.086.372-1.882.983-2.546-.096-.24-.102-1.604.417-2.912 0 0 1.192.13 2.996 1.369.376-.105 1.017-.159 1.656-.159.64 0 1.279.054 1.658.158C9.96.497 11.154.367 11.154.367c.518 1.307.514 2.673.416 2.912.611.664.983 1.46.983 2.545 0 4.73-3.923 4.805-4.912 4.805z' fill='%236CC644' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.markdown a[href*='dribbble.com']::before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.839 6.477c.043-.016.088-.028.134-.04a19.19 19.19 0 0 0-.364-.761c-2.448.725-4.791.732-5.21.725-.003.033-.003.066-.003.099 0 1.23.443 2.413 1.247 3.341.268-.432 1.69-2.553 4.196-3.364zm-3.434 4.076A5.05 5.05 0 0 0 6.5 11.604c.673 0 1.327-.13 1.945-.384a21.5 21.5 0 0 0-1.07-3.805c-2.762.977-3.805 2.815-3.97 3.138zM9.827 2.63a5.103 5.103 0 0 0-4.434-1.11 26.146 26.146 0 0 1 1.85 2.894C8.914 3.77 9.67 2.845 9.827 2.629zM6.116 4.76a30.799 30.799 0 0 0-1.843-2.852 5.128 5.128 0 0 0-2.75 3.46h.021c.529 0 2.408-.042 4.572-.608zM8.47 7.146c.606 1.683.884 3.082.964 3.53a5.122 5.122 0 0 0 2.095-3.311 7.565 7.565 0 0 0-2.073-.288c-.336 0-.668.023-.986.069zM6.5 12.616A6.123 6.123 0 0 1 .382 6.5 6.124 6.124 0 0 1 6.5.382 6.124 6.124 0 0 1 12.617 6.5 6.123 6.123 0 0 1 6.5 12.616zm1.2-7.322c.114.235.22.465.316.692l.092.221c.36-.043.746-.064 1.149-.064 1.111 0 2.035.163 2.345.224a5.116 5.116 0 0 0-1.11-3.047c-.208.269-1.065 1.254-2.791 1.974z' fill='%23EA4C89' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.markdown a[href*='unsplash.com']::before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.56 4.114v5.644a1.64 1.64 0 0 1-1.628 1.628H2.068c-.909 0-1.629-.72-1.629-1.628V4.076c0-.871.72-1.629 1.63-1.629h1.4l.304-.871c.151-.417.644-.758 1.098-.758H8.13c.454 0 .947.341 1.098.758l.303.909h1.402c.909 0 1.629.72 1.629 1.629zm-3.257 2.84c0-1.552-1.25-2.84-2.84-2.84a2.862 2.862 0 0 0-2.842 2.84c0 1.554 1.25 2.841 2.841 2.841 1.591-.037 2.841-1.287 2.841-2.84zm-.985-.037A1.819 1.819 0 1 1 6.5 5.098c1.023.038 1.818.834 1.818 1.819z' fill='%23EE8B21' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.markdown a[href*='instagram.com']::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.669 11.765a3.328 3.328 0 0 1-1.904 1.904 4.78 4.78 0 0 1-1.58.302c-.695.032-.917.04-2.685.04s-1.99-.008-2.684-.04a4.78 4.78 0 0 1-1.58-.302 3.328 3.328 0 0 1-1.905-1.904 4.78 4.78 0 0 1-.302-1.58C.997 9.49.989 9.267.989 7.5s.008-1.99.04-2.684a4.78 4.78 0 0 1 .302-1.58A3.328 3.328 0 0 1 3.235 1.33a4.78 4.78 0 0 1 1.58-.302C5.51.997 5.733.989 7.5.989s1.99.008 2.684.04a4.78 4.78 0 0 1 1.58.302 3.328 3.328 0 0 1 1.905 1.904c.19.506.291 1.04.302 1.58.032.695.04.917.04 2.685s-.008 1.99-.04 2.684a4.78 4.78 0 0 1-.302 1.58zm-2.33-9.34a3.601 3.601 0 0 0-1.208-.224c-.687-.032-.893-.038-2.631-.038-1.738 0-1.944.006-2.63.038-.414.004-.823.08-1.21.224A2.156 2.156 0 0 0 2.425 3.66c-.144.387-.22.796-.224 1.21-.032.686-.038.892-.038 2.63s.006 1.944.038 2.63c.004.414.08.823.224 1.21a2.156 2.156 0 0 0 1.235 1.235c.387.144.796.22 1.21.224.686.032.892.038 2.63.038s1.944-.006 2.63-.038c.414-.004.823-.08 1.21-.224a2.156 2.156 0 0 0 1.235-1.235c.144-.387.22-.796.224-1.21.032-.686.038-.892.038-2.63s-.006-1.944-.038-2.63a3.601 3.601 0 0 0-.224-1.21 2.156 2.156 0 0 0-1.235-1.235zM4.158 7.5a3.343 3.343 0 1 1 6.686 0 3.343 3.343 0 0 1-6.686 0zm6.818-2.694a.781.781 0 1 1 0-1.563.781.781 0 0 1 0 1.563zM7.5 9.67a2.17 2.17 0 1 0 0-4.34 2.17 2.17 0 0 0 0 4.34z' fill='%23AB62EE' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.markdown a[href*='speakerdeck.com']::before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0h9a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm3.5 7l-3-2.5 3-2.5v5zm2 0V3l3 2.5-3 2.5z' fill='%23396' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.markdown a[href*='linkedin.com']::before {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.444 1.222c0 .672-.427 1.222-1.222 1.222C.49 2.444 0 1.894 0 1.284 0 .61.489 0 1.222 0c.734 0 1.222.55 1.222 1.222zM0 11h2.444V3.056H0V11zm8.311-7.822c-1.283 0-2.017.733-2.322 1.222h-.061l-.122-1.039h-2.2c0 .672.06 1.467.06 2.383V11h2.445V6.661c0-.244 0-.428.061-.611.184-.428.49-.978 1.161-.978.856 0 1.223.734 1.223 1.711V11H11V6.478c0-2.261-1.161-3.3-2.689-3.3z' fill='%230077B5' fill-rule='nonzero'/%3E%3C/svg%3E");

  font-size: 0.8em;
}

/* In Twitter embed, disable the icon. */
.twitter-tweet a[href*='twitter.com'] {
  margin-left: 0;
}

.twitter-tweet a[href*='twitter.com']::before {
  display: none;
}

/* Lists. */

ul li {
  position: relative;
}

ul li::before {
  content: '';

  position: absolute;
  top: 0.525em;
  left: -1.05em;

  width: 5px;
  height: 5px;

  background: hsl(11, 78%, 53%);
  border-radius: 50%;
}

ol {
  list-style-type: decimal;
}

ol li {
  padding-left: 1rem;
}

ul,
ol {
  padding-left: 4rem;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  ul,
  ol {
    padding-left: 3rem;
  }
}

li {
  margin-bottom: 1rem;
}

/* Figure and figcaption. */

figure {
  margin-top: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 2rem;

  padding-top: 0;
  padding-bottom: 1rem;

  background: #f6f6f6;
  border-radius: 5px;
}

figure img,
figure video {
  margin-bottom: 1rem;
  border: none;
}

@media (max-width: 700px) {
  .figure {
    margin-left: -2rem;
    margin-right: -2rem;

    background: #f1f1f1;
  }
}

figcaption {
  color: #666;
  padding: 0 2rem;
  font-family: 'Fira Mono', monospace;
  font-size: 0.8em;
  text-align: center;
}

/* Code. */

pre {
  position: relative;
}

@media (max-width: 700px) {
  pre {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

pre::before {
  content: 'Code';
}

pre code {
  margin: 0;
  margin-bottom: 2rem;
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  white-space: pre-wrap;
}

@media (max-width: 700px) {
  pre code {
    border-radius: 0;
  }
}

code {
  font-size: 0.75em;
}

/* Inline code block. */
p code,
li code {
  color: hsl(11, 78%, 53%);

  margin-left: 2px;
  margin-right: 2px;

  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;

  background: hsla(0, 0%, 0%, 0.09);

  font-weight: bold;
}

/* Blockquotes. */

blockquote {
  position: relative;

  color: hsl(0, 0%, 20%);

  margin: 0;
  margin-bottom: 2rem;

  padding: 2rem calc(2.5rem - 1px);

  background: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #e0e0e0;

  font-size: 0.85em;
  line-height: 1.45;
}

@media (max-width: 700px) {
  blockquote {
    margin-left: -2rem;
    margin-right: -2rem;

    border: none;
    border-radius: 0;

    background: #eaeaea;
  }
}

blockquote::before {
  content: 'Quote';
}

blockquote > :last-child {
  margin-bottom: 0;
}

.twitter-tweet {
  background: hsl(210, 93%, 95%);
  border: 1px solid hsl(210, 91%, 91%);
}

.twitter-tweet::before {
  content: 'Tweet';
  color: hsl(210, 95%, 64%);
  opacity: 0.55;
}

.tldr {
  background: hsl(21, 80%, 94%);
  border: 1px solid hsl(21, 80%, 90%);
}

.tldr::before {
  content: 'tl;dr';
  color: hsl(21, 81%, 61%);
  opacity: 0.9;
}

/* HR. */

hr {
  color: hsla(11, 78%, 53%, 0.2);

  max-width: 80%;
  height: 1px;
  margin: 5rem 0 6rem;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(
    to right,
    hsl(325, 13%, 18%),
    #e0e0e0,
    hsl(325, 13%, 18%)
  );

  border: none;
}

/* Embeds. */

iframe {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

/* Footnotes */

a.footnote-ref {
  box-sizing: content-box;
  color: white;
  margin-left: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background: hsl(11, 78%, 53%);
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1.2rem;
}

a.footnote-ref:hover {
  color: hsl(11, 78%, 53%);
  background: #eee;
  border: 1px solid hsl(11, 78%, 53%);
}

/* Note: yes, this is dirty, but we don't have any control on how footnotes are generated by Remark. */
.footnotes {
  position: relative;

  margin-top: 10rem;
  padding: 2rem 0;

  background: #eee;
  border-radius: 5px;

  font-size: 0.85em;
}

.footnotes::before {
  content: 'Footnotes';
}

.footnotes hr {
  display: none;
}

.footnotes ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footnotes li {
  position: relative;
  margin-bottom: 2rem;
  padding: 0 2rem 0;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.footnotes li:last-of-type {
  margin-bottom: -2rem;
  padding-bottom: 0;
  border: none;
}

.footnotes li:target {
  font-weight: 500;
}

.footnotes li blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem;
  background: #ddd;
  border: none;
}

.footnotes li .footnote-backref {
  position: absolute;
  top: 0;
  right: -11px;

  margin-left: 2rem;
  padding: 6px 6px 3px;
  background: hsl(11, 77%, 81%);
  border-bottom: none;
  border-radius: 5px;

  font-size: 0.9em;
  line-height: normal;
}

.footnotes li .footnote-backref:hover {
  color: white;
  background: hsl(11, 78%, 53%);
}

/* Hint. */

pre::before,
blockquote::before,
.footnotes::before,
.hint {
  position: absolute;
  top: -20px;
  right: 20px;
  color: black;
  opacity: 0.35;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
}
