/* Box-sizing. */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typography. */

html {
  font: 62.5%/1.5 Rubik, Verdana, sans-serif;
}

body {
  font-size: 1.8em;
}

pre,
code {
  font-family: "Fira Mono", monospace !important;
  line-height: 1.25 !important;
}

/* Full-viewport body. */

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

/* Colors. */

html {
  color: hsl(0, 0%, 10%);
  background: hsl(0, 0%, 98%);
}

body {
  background: hsl(0, 0%, 98%);
}

::selection {
  color: hsl(0, 0%, 100%);
  background: hsl(11, 78%, 53%);
}

/* Reset. */

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
ol,
dl {
  margin-top: initial;
  margin-bottom: 2rem;
}

ol,
ul {
  list-style: none;
  padding-left: initial;
}

a {
  color: hsl(11, 78%, 53%);
}

a:hover {
  color: hsl(11, 77%, 65%);
}
