@charset "utf-8";

/* ---------------------------------------------------------- *\
 * Reset.
\* ---------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
ol,
dl {
  margin-top: initial;
  margin-bottom: 2rem;
}

ol,
ul {
  list-style: none;
  padding-left: initial;
}

/* ---------------------------------------------------------- *\
 * Links.
\* ---------------------------------------------------------- */

a {
  color: var(--color-accent);
}

a:hover {
  color: hsl(var(--hue-accent), 77%, 65%);
}
