@charset "utf-8";

/* ---------------------------------------------------------- *\
 * Page.
\* ---------------------------------------------------------- */

.page-constraints {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;

  @media (max-width: 900px) {
    padding: 2rem;
  }

  @media (max-width: 500px) {
    padding: 1.5rem;
  }
}
